<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container-fluid">

    <div class="row">
      <div>
        <h1 class="page-header">Solar Unit Dashboard</h1>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>ETH</h4>
                <span class="text-muted" id="label1"></span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Block</h4>
                <span class="text-muted" id="label2"></span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Solar Units (kwh)</h4>
                <span class="text-muted" id="label3"></span>
              </div>
              <!--div class="col-xs-6 col-sm-3 placeholder">
                <h4>Energy</h4>
                <span class="text-muted" id="label4"></span>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </div>

  <!-- script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
